  <section class="action-buttons">
    <div class="container">
      <div class="action-buttons-left">
        <button>我想要對服貿採取行動</button>
      </div>
      <div class="action-buttons-right">
        <button>我想更了解服貿</button>
      </div>
    </div>
  </section>

  <footer class="poll-footer">
    <div class="container">
      <div class="footer-copyright">
        <img src="images/cc.png" alt="CC 4.0 BY"> 2014 Creative Commons. Attribution CC BY 4.0, Open Source in MIT ( X11 )
      </div>
      <div class="footer-logo">
        <img src="images/g0v.png" alt="g0v 零時政府">
      </div>
    </div>
  </footer>

  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/jquery.easypiechart.js"></script>
  <script src="javascripts/index.js"></script>
</body>
</html>