<!doctype html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <title>你被服貿了嗎</title>
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
  <header class="poll-header">
    <img src="images/comment.png" alt="">
    <h1>
      針對服貿，你服不服？
    </h1>
  </header>